---
import CardFilter from "../../components/CardFilter.astro";
import LayouteFilter from "../../layouts/LayouteFilter.astro";
import { tagCard } from "../../utils";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("/src/pages/post/*.md");

  let allUnicTags: string[] = [];
  allPosts.forEach((item) =>
    item.frontmatter.tags.map((subItem: string) => {
      if (allUnicTags.includes(subItem)) {
      } else {
        /* listTagDesign.push(subItem); */
        allUnicTags = [...allUnicTags, subItem/* .replace(/ /g, "-") */];
      }
    })
  );

  return allUnicTags.map((item) => {
    const filterPosts: any = allPosts
      .filter((subItem) => {
        /* subItem.frontmatter.tags = subItem.frontmatter.tags.map((subItem: string) => subItem.replace(/ /g, "-")) */
        return subItem.frontmatter.tags.includes(item);
      })
      .flat();
    return {
      params: { tagDesign: item },
      props: { posts: filterPosts },
    };
  });

  /* return [
    {
      params: { tagDesign: "design" },
      props: { name: "design" },
    },
    {
      params: { tagDesign: "visual-design" },
      props: { name: "visual design" },
    },
    {
      params: { tagDesign: "colour" },
      props: { name: "colour" },
    },
    {
      params: { tagDesign: "typography" },
      props: { name: "typography" },
    },
  ]; */
}
/* const allPosts = await Astro.glob("/src/pages/post/*.md");

let allUnicTags: string[] = [];
allPosts.forEach((item) =>
  item.frontmatter.tags.map((subItem: string) => {
    if (allUnicTags.includes(subItem.replace(/ /g, "-"))) {
    } else {
      allUnicTags = [...allUnicTags, subItem.replace(/ /g, "-")];
    }
  })
);

const list = allUnicTags.map((item) => {
  const filterPosts = allPosts.filter((subItem) => {
    //console.log(subItem.frontmatter.tags.includes(item));
    subItem.frontmatter.tags = subItem.frontmatter.tags.map((subItem: string) => subItem.replace(/ /g, "-"));
    console.log(subItem.frontmatter.tags)
    console.log(item)
    return subItem.frontmatter.tags.includes(item);
  });
  return filterPosts;
});

list.flat().forEach((item) => console.log(item.frontmatter.tags)) */
/* console.log(list); */

const { tagDesign } = Astro.params;
const { posts } = Astro.props;

---

<LayouteFilter title={tagDesign}>
  <!-- <h1 class="">{tagDesign}</h1> -->
  <ul class="max-w-[1440px] mx-auto grid grid-cols-gridPosts gap-y-8">
    {
      posts.map((post: any) => {
        const { frontmatter } = post;
        let valueTag = tagCard.filter(
          (item: { name: string }) => /* item.name === frontmatter.tags[0] */frontmatter.tags.includes(item.name)
        );
        return (
          <CardFilter
            image={frontmatter.image.url}
            title={frontmatter.title}
            description={frontmatter.description}
            tag={valueTag}
          />
        );
      })
    }
  </ul>
</LayouteFilter>
