---
import CardFilter from "../../components/CardFilter.astro";
import LayouteFilter from "../../layouts/LayouteFilter.astro";
import { tagCard } from "../../utils";

const allPosts = await Astro.glob("/src/pages/post/*.md");
const filterDesign = allPosts.filter((post) =>
  post.frontmatter.category === "design"
);
/* .slice(0, 6) */
/* console.log(filterDesign) */
---

<LayouteFilter title="blog-design">
  <section class="w-full h-fit">
    <ul class="max-w-[1440px] mx-auto grid grid-cols-gridPosts gap-8">
      {
        filterDesign.map((item) => {
          const { image, tags, title, description, slug } = item.frontmatter;
          let valueTag = tagCard.filter(
            (item: { name: string }) => /* item.name === tags[0] */ tags.includes(item.name)
          );
          console.log(valueTag)
          return (
            <CardFilter
              image={image.url}
              title={title}
              description={description}
              tag={valueTag}
              slug={slug}
            />
          );
        })
      }
    </ul>
  </section>
</LayouteFilter>
