---
import Image from "astro/components/Image.astro";
import Tag from "../components/news/Tag.astro";

const { image, title, description, tag, slug } = Astro.props;
console.log(slug);
---

<li class="w-[300px] h-[500px] bg-white rounded-xl shadow-lg">
  <a href={slug}>
    <Image
      src={image}
      class={"rounded-t-lg w-full h-[250px] object-cover"}
      width={300}
      height={250}
      format="webs"
      alt={"image-design-card-title"}
    />
  </a>  
  <div class="w-full h-[300px] rounded-b-lg px-4 py-3 flex flex-col gap-y-4">
    <section class="flex items-center gap-x-2 w-full overflow-auto">
      {tag.map((item: any) => <Tag tag={item} />)}
    </section>
    <!-- <Tag tag={tag} /> -->
    <h2 class="text-3xl font-bold">{title}</h2>
    <p class="text-sm font-normal text-ellipsis w-full">
      {description}
    </p>
  </div>
</li>
