---
import Image from "astro/components/Image.astro";
import type { Cardpost } from "../interface";

const { tag, title, description } = Astro.props as Cardpost;
---

<li
  class="bg-white rounded-lg w-[30%] h-[320px] p-10 flex flex-col gap-y-6 shadow-lg"
>
  <section class="flex items-center gap-x-2">
    <div class="rounded-md shadow-md p-1">
      <Image src={tag.icon} width={24} height={24} alt={tag.name} />
    </div>

    <h5 class="text-base font-medium">{tag.name}</h5>
  </section>
  <section class="flex flex-col gap-y-2">
    <h3 class="text-3xl font-bold">{title}</h3>
    <p class="font-normal text-sm">{description}</p>
  </section>
</li>
