---
import Image from "astro/components/Image.astro";
import Tag from "../components/news/Tag.astro";

const { image, title, description, tag, slug } = Astro.props;
/* console.log(tag.slice(0,2)); */
---

<li class="w-full h-[500px] bg-white rounded-xl shadow-lg hover:outline-2	outline-red-500">
  <a href={slug}>
    <Image
      src={image}
      class={"rounded-t-lg w-full h-[250px] object-cover"}
      width={300}
      height={250}
      format="webs"
      alt={"image-design-card-title"}
    />
  </a>  
  <div class="w-full h-[250px] rounded-b-lg px-4 py-3 flex flex-col gap-y-4"> 
    <section class="flex items-center gap-x-2 w-full overflow-y-hidden h-[80px]">
      {tag.slice(0,2).map((item: {icon: string; name: string}) => <Tag tag={item} />)}
    </section>
    <!-- <Tag tag={tag} /> -->
    <h2 class="text-3xl font-bold">{title}</h2>
    <p class="text-sm font-normal overflow-hidden w-full h-full" >
      {description.slice(0,150)}
    </p>
  </div>
</li>
