---
import { tagCard } from "../../utils/listTagsCard";
import Card from "./Card.astro";

const allPosts = await Astro.glob("/src/pages/post/*.md");

/* const listCard: Cardpost[] = [
  {
    image: "/image/pexels-pixabay-40185.jpg",
    tag: {
      icon: "/svg/tag-webSite.svg",
      name: "website",
    },
    date: "29th feb 2024",
    title: "About version 8",
    description: `Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptatibus, quisquam. Eos sit odit voluptatibus libero. Lorem
              ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus,
              quisquam. Eos sit odit voluptatibus libero.`,
  },
  {
    image: "/image/pexels-pixabay-40185.jpg",
    tag: {
      icon: "/svg/tag-webSite.svg",
      name: "website",
    },
    date: "29th feb 2024",
    title: "About version 8",
    description: `Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptatibus, quisquam. Eos sit odit voluptatibus libero. Lorem
              ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus,
              quisquam. Eos sit odit voluptatibus libero.`,
  },
  {
    image: "/image/pexels-pixabay-40185.jpg",
    tag: {
      icon: "/svg/tag-webSite.svg",
      name: "website",
    },
    date: "29th feb 2024",
    title: "About version 8",
    description: `Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptatibus, quisquam. Eos sit odit voluptatibus libero. Lorem
              ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus,
              quisquam. Eos sit odit voluptatibus libero.`,
  },
  {
    image: "/image/pexels-pixabay-40185.jpg",
    tag: {
      icon: "/svg/tag-webSite.svg",
      name: "website",
    },
    date: "29th feb 2024",
    title: "About version 8",
    description: `Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptatibus, quisquam. Eos sit odit voluptatibus libero. Lorem
              ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus,
              quisquam. Eos sit odit voluptatibus libero.`,
  },
]; */
const postFilterNews = allPosts
  .sort(
    (item1, item2) =>
      new Date(item2.frontmatter.pubDate).getTime() -
      new Date(item1.frontmatter.pubDate).getTime()
  )
  .slice(0, 4);

/* console.log(postFilterNews) */
postFilterNews.map((data) => {
  const { image, tags, pubDate, title, description, slug } = data.frontmatter;
  /* console.log(tagCard,tags); */
  let valueTag = tagCard.filter((item: { name: string }) =>
    tags.includes(item.name)
  );
 /*  console.log(valueTag); */
});
---

<section class="max-w-[1440px] mx-auto py-12">
  <article
    class="flex flex-col sm:flex-row gap-y-2 item-start sm:items-center justify-between mb-5"
  >
    <h2 class="text-3xl font-bold">What´s new</h2>
    <p class="text-base font-semibold">view the archive</p>
  </article>
  <ul class="flex flex-wrap justify-between gap-y-11 gap-x-8">
    {
      postFilterNews.map((data) => {
        const { image, tags, pubDate, title, description, slug } =
          data.frontmatter;
        let valueTag = tagCard.filter((item: { name: string }) =>
          tags.includes(item.name)
        );
        return (
          <Card
            image={image.url}
            tag={valueTag}
            date={pubDate}
            title={title}
            description={description}
            slug={slug}
          />
        );
      })
    }
  </ul>
</section>
