---
import Image from "astro/components/Image.astro";
import Tag from "../components/news/Tag.astro";
import Layout from "../layouts/Layout.astro";
import Date from "../components/news/Date.astro";
import { tagCard } from "../utils";

const { frontmatter } = Astro.props;
let tagAndIcon: { icon: string; name: string }[] = [];
frontmatter.tags.map((item: string) => {
  tagCard.forEach((subItem) =>
    subItem.name === item ? tagAndIcon.push(subItem) : ""
  );
});
---

<Layout title="Post">
  <main class="max-w-[1024px] mx-auto relative px-3 flex flex-col gap-y-5 my-4 ">
    <Date date={frontmatter.pubDate} />
    <h1 class="text-4xl md:text-7xl font-extrabold py-3">
      {frontmatter.title}
    </h1>
    <section class="flex gap-x-4 pb-3">
      {
        tagAndIcon.map((item: { icon: string; name: string }) => {
          return <Tag tag={item} />;
        })
      }
    </section>
    <Image
      src={frontmatter.image.url}
      class="min-w-[300px] w-full object-cover rounded-3xl"
      width={1280}
      height={500}
      alt={frontmatter.image.alt}
      format=".webs"
    />
    <slot />
  </main>
</Layout>

<style is:inline>
  main >h2 {
    font-size: 40px;
    font-weight: bolder;
  }
  main > h3 {
    font-size: 36px;
    font-weight: bolder;
  }
  main > p {
    font-size: 24px;
    font-weight: 300;
    padding: 8px 0;
  }
  p > img{
    border-radius: 1.5rem;
  }
  @media (max-width: 500px) {
    p{
      font-size: 16px;
    }
  }
</style>
